<div class="container d-flex">
  <div class="row">
    <div class="col">
      <div data-controller="transaction-history">
        <div data-controller="toggle">
          <h1>Submit new transaction</h1>
          <button class="btn btn-primary mt-4" data-action="click->toggle#fire">Add new transaction</button>
          <div class="mt-3 d-none" data-toggle-target="toggleableElement">
            <%= render "transactions/new_transaction", locals: { account: @account, transaction: @transaction } %>
          </div>
        </div>
        <div>
          <h1>Transaction history</h1>
          <div data-transaction-history-target="items">
            <%= render "transactions/transaction", locals: { account: @account, transaction: @transaction } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
